{% extends 'penntext/base.html' %}

{% block title %} Others (Misc) Items {% endblock %}

{% block body_block %}

            {% if user.is_authenticated %}
          <font size="4">
            <a href="/localquaker/add_other"> Add a New Advertisement </a>
            </font>
            <hr>
            {% endif %}
    {% if other_list %}

            <font size="3">

                {% for other in other_list %}

               <font color="red"> {{ other.name }} </font> is selling <font color="blue"> {{other.title}} </font> </br>
                 </br>
                 {{other.description}}</br> </br>

                 {% if other.contact %}

                 Contact At: {{other.contact}} (Phone) or send an email at {{other.email}}. </br>

                 {% else %}
                 Contact At: Email at {{other.email}}. </br>
                 {% endif %}

				 Price: ${{other.price}} </br>
                 Posted At: {{other.time}}
                <div>
        {% if other.picture %}
            <br>
            <img src="{{ other.picture.url }}"  />
        {% endif %}
</div>
                <div id={{other.id}} style="display: none">

                <form id="price_offer" action="/localquaker/{{other.name}}/{{other.url}}/other/{{price}}{{email}}">
<strong><br>
                Name: <input type ="text" name = "name"> </br>
                Contact Email: <input type="email" name = "email"> </br>
                Price: <input type="number" name="price"> </br>
</strong>   </br>
                <input type="submit"/>
                </form>
                <br>
</div>
<br><br>




<input type="button" onclick="Javascript: showMsgs('{{other.id}}');" value="Offer Form"> </button>

<hr>


                {% endfor %}


            </font>
            {% else %}
                <strong>No one is selling any misc items at this moment.</strong>
            {% endif %}

{% endblock %}